rslt/webhook.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        672,
        -32
      ],
      "id": "0f9d21e2-8a6e-4f32-8a35-debc7ac131c4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "List Jira's tools",
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        1056,
        176
      ],
      "id": "891a63f9-8a9c-4b7d-8ef2-09697df080cd",
      "name": "MCP Client",
      "alwaysOutputData": false,
      "credentials": {
        "mcpClientHttpApi": {
          "id": "H32Z8RGyHJw6IZzg",
          "name": "MCP Client (HTTP Streamable) account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Execute Jira's tools",
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"tool\", \"Populate this with the tool name from the list tools result\") }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        864,
        176
      ],
      "id": "c645db0d-f287-495d-b869-7020596ae758",
      "name": "MCP Client1",
      "alwaysOutputData": false,
      "credentials": {
        "mcpClientHttpApi": {
          "id": "H32Z8RGyHJw6IZzg",
          "name": "MCP Client (HTTP Streamable) account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        176
      ],
      "id": "7bc6f295-a693-4dfa-b321-2998ddc07474",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kDzLRzOucifdAxXj",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        720,
        176
      ],
      "id": "159853d7-acd4-497a-9665-7fc29e832f7c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        464,
        -16
      ],
      "id": "fc30b126-b4d4-49ac-af90-c2835977a154",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dc2512f5-ab1d-4a4f-adb4-3ca88909d028",
              "name": "pat",
              "value": "={{ $json.value }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        96
      ],
      "id": "c22a205a-6a93-486a-9354-6ef12d102cd5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/redis",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "2land"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        96
      ],
      "id": "dbb93299-d6c3-4813-852c-1ae4cc521d5f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -432,
        -32
      ],
      "id": "d3780bd0-861d-436b-945e-6c9ce9085d7d",
      "name": "Webhook",
      "webhookId": "785375bd-e2ee-433a-b49e-c208a112b63e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1248,
        -32
      ],
      "id": "c19e62ff-ec21-488f-9b1c-98de1634c6c4",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json['body'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -32
      ],
      "id": "bea9dcc3-d68a-4aca-9e5c-2fddfb8ebdf1",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "97cdaab89af73ebd5970b4d23e9d1859d7eb3b935c78db3eb6127ddba5b4902d"
  }
}